<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mutation</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" id="All-tab" href="#All" aria-controls="All" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="KRAS-tab" href="#KRAS" role="tab" aria-controls="KRAS" aria-selected="false">KRAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="HRAS-tab" href="#HRAS" role="tab" aria-controls="HRAS" aria-selected="false">HRAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="NRAS-tab" href="#NRAS" role="tab" aria-controls="NRAS" aria-selected="false">NRAS</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="All" role="tabpanel"  aria-labelledby="All-tab">

              <div class="card  border-light bg-light mb-3 very-dark-text">
                <div class="card-header light-pink-background"><h4>{{ queryname }}</h4></div>
                  <div class="card-body">
                    <h6 class="card-text">Total number of entries: {{ entry_count['All'] }}</h6>
                    <h6 class="card-text">Total number of chains: {{ chain_count['All'] }}</h6>

                    <div class="table-responsive">
                    <table class="table very-dark-text sortable">
                    <thead class="">
                      <tr>
                        <th scope="col" style='text-align:right;'>Nucleotide Class</th>
                        <th scope="col" style='text-align:right;'>Drug Class</th>
                        <th scope="col" style='text-align:right;'>Bound Protein</th>
                      </tr>
                    </thead>
                    <tr>
                    </tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                <hr class="my-4" style="padding:0;">
                <a role="button" class="btn button-primary light-text" style="margin:5px;" href="{{ url_for('static', filename=tsvFile['All']) }}" target="_blank">Download as tsv</a>

                <div class="btn-group" style="margin:5px;">
                  <button type="button" class="btn button-primary dropdown-toggle light-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download in Pymol
                  </button>
                  <div class="dropdown-menu">
                    <h6 class="dropdown-header very-dark-text">Representatives from each gene</h6>
                    <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSessionRe['All']) }}">Pymol session(ver 2.3)</a>
                    <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScriptRe['All']) }}">Pymol script</a>
                    <h6 class="dropdown-header very-dark-text">All chains</h6>

                    <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSession['All']) }}">Pymol session(ver 2.3)</a>

                    <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScript['All']) }}">Pymol script</a>

                  </div>
                </div>
              </div>



        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr class="my-4" style="padding:0;">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover sortable dark-text" style="word-wrap: break-word;">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">PDB</th>
                          <th scope="col">Protein Name</th>
                          <th scope="col">Bound Protein</th>
                          <th scope="col">Mutation Status</th>
                          <th scope="col">Nucleotide Class</th>
                          <th scope="col">Drug Class</th>
                          <th scope="col">Bound Protein Class</th>
                          <th scope="col">Homodimer Status</th>
                          <th scope="col">Switch1 Cluster</th>
                          <th scope="col">Switch2 Cluster</th>
                          <th scope="col">Conformational State</th>
                          </tr>
                      </thead>
                      {% for item in retrieve_str['All'] %}

                      <tr>
                        <td><a href="{{ url_for('uniqueQuery', settings='PDB', queryname=item.pdb) }}" target="_blank">{{ item.pdb }}</a></td>
                        <td>{{ item.protein_name }}</td>
                        <td>{{ item.bound_protein }}</td>
                        {% if ',' in item.mutation_status %}
                        <td>
                          {% for mutations in item.mutation_status.split(',') %}
                          <a href="{{ url_for('uniqueQuery', queryname=mutations, settings='mutation') }}" target="_blank">{{ mutations }} </a>
                          {% endfor %}
                        </td>
                        {% else %}
                        <td>
                          <a href="{{ url_for('uniqueQuery', queryname=item.mutation_status, settings='mutation') }}" target="_blank">{{ item.mutation_status }} </a>
                        </td>
                        {% endif %}
                        <td>{{ item.nucleotide_class }}</td>
                        <td><a href="{{ url_for('uniqueQuery', queryname=item.drug_class, settings='drug_class') }}" target="_blank">{{ item.drug_class }}</td>
                        <td><a href="{{ url_for('uniqueQuery', settings='bound_protein_class', queryname=item.bound_protein_class) }}" target="_blank">{{ item.bound_protein_class }}</a></td>
                        <td>{{ item.homodimer_status }}</td>
                        <td>{{ item.switch1_cluster }}</td>
                        <td>{{ item.switch2_cluster }}</td>
                        <td><a href="{{ url_for('uniqueQuery', settings='conformation',queryname=item.conformational_state) }}" target="_blank">{{ item.conformational_state }}</a></td>
                      </tr>

                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="KRAS" role="tabpanel"  aria-labelledby="KRAS-tab">

                <div class="card  border-light bg-light mb-3 very-dark-text">
                  <div class="card-header light-pink-background"><h4>{{ queryname }}</h4></div>
                    <div class="card-body">
                      <h6 class="card-text">Total number of entries: {{ entry_count['KRAS'] }}</h6>
                      <h6 class="card-text">Total number of chains: {{ chain_count['KRAS'] }}</h6>

                      <div class="table-responsive">
                      <table class="table very-dark-text sortable">
                      <thead class="">
                        <tr>
                          <th scope="col" style='text-align:right;'>Nucleotide Class</th>
                          <th scope="col" style='text-align:right;'>Drug Class</th>
                          <th scope="col" style='text-align:right;'>Bound Protein</th>
                        </tr>
                      </thead>
                      <tr>
                      </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                  <hr class="my-4" style="padding:0;">
                  <a role="button" class="btn button-primary light-text" style="margin:5px;" href="{{ url_for('static', filename=tsvFile['KRAS']) }}" target="_blank">Download as tsv</a>

                  <div class="btn-group" style="margin:5px;">
                    <button type="button" class="btn button-primary dropdown-toggle light-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download in Pymol
                    </button>
                    <div class="dropdown-menu">
                      <h6 class="dropdown-header very-dark-text">Representatives from each gene</h6>
                      <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSessionRe['KRAS']) }}">Pymol session(ver 2.3)</a>
                      <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScriptRe['KRAS']) }}">Pymol script</a>
                      <h6 class="dropdown-header very-dark-text">All chains</h6>

                      <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSession['KRAS']) }}">Pymol session(ver 2.3)</a>

                      <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScript['KRAS']) }}">Pymol script</a>

                    </div>
                  </div>
                </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr class="my-4" style="padding:0;">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover sortable dark-text" style="word-wrap: break-word;">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">PDB</th>
                            <th scope="col">Protein Name</th>
                            <th scope="col">Bound Protein</th>
                            <th scope="col">Mutation Status</th>
                            <th scope="col">Nucleotide Class</th>
                            <th scope="col">Drug Class</th>
                            <th scope="col">Bound Protein Class</th>
                            <th scope="col">Homodimer Status</th>
                            <th scope="col">Switch1 Cluster</th>
                            <th scope="col">Switch2 Cluster</th>
                            <th scope="col">Conformational State</th>
                            </tr>
                        </thead>
                        {% for item in retrieve_str['KRAS'] %}

                        <tr>
                          <td><a href="{{ url_for('uniqueQuery', settings='PDB', queryname=item.pdb) }}" target="_blank">{{ item.pdb }}</a></td>
                          <td>{{ item.protein_name }}</td>
                          <td>{{ item.bound_protein }}</td>
                          {% if ',' in item.mutation_status %}
                          <td>
                            {% for mutations in item.mutation_status.split(',') %}
                            <a href="{{ url_for('uniqueQuery', queryname=mutations, settings='mutation') }}" target="_blank">{{ mutations }} </a>
                            {% endfor %}
                          </td>
                          {% else %}
                          <td>
                            <a href="{{ url_for('uniqueQuery', queryname=item.mutation_status, settings='mutation') }}" target="_blank">{{ item.mutation_status }} </a>
                          </td>
                          {% endif %}
                          <td>{{ item.nucleotide_class }}</td>
                          <td><a href="{{ url_for('uniqueQuery', queryname=item.drug_class, settings='drug_class') }}" target="_blank">{{ item.drug_class }}</td>
                          <td><a href="{{ url_for('uniqueQuery', settings='bound_protein_class', queryname=item.bound_protein_class) }}" target="_blank">{{ item.bound_protein_class }}</a></td>
                          <td>{{ item.homodimer_status }}</td>
                          <td>{{ item.switch1_cluster }}</td>
                          <td>{{ item.switch2_cluster }}</td>
                          <td><a href="{{ url_for('uniqueQuery', settings='conformation',queryname=item.conformational_state) }}" target="_blank">{{ item.conformational_state }}</a></td>
                        </tr>

                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="HRAS" role="tabpanel"  aria-labelledby="HRAS-tab">

                  <div class="card  border-light bg-light mb-3 very-dark-text">
                    <div class="card-header light-pink-background"><h4>{{ queryname }}</h4></div>
                      <div class="card-body">
                        <h6 class="card-text">Total number of entries: {{ entry_count['HRAS'] }}</h6>
                        <h6 class="card-text">Total number of chains: {{ chain_count['HRAS'] }}</h6>

                        <div class="table-responsive">
                        <table class="table very-dark-text sortable">
                        <thead class="">
                          <tr>
                            <th scope="col" style='text-align:right;'>Nucleotide Class</th>
                            <th scope="col" style='text-align:right;'>Drug Class</th>
                            <th scope="col" style='text-align:right;'>Bound Protein</th>
                          </tr>
                        </thead>
                        <tr>
                        </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <hr class="my-4" style="padding:0;">
                    <a role="button" class="btn button-primary light-text" style="margin:5px;" href="{{ url_for('static', filename=tsvFile['HRAS']) }}" target="_blank">Download as tsv</a>

                    <div class="btn-group" style="margin:5px;">
                      <button type="button" class="btn button-primary dropdown-toggle light-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download in Pymol
                      </button>
                      <div class="dropdown-menu">
                        <h6 class="dropdown-header very-dark-text">Representatives from each gene</h6>
                        <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSessionRe['HRAS']) }}">Pymol session(ver 2.3)</a>
                        <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScriptRe['HRAS']) }}">Pymol script</a>
                        <h6 class="dropdown-header very-dark-text">All chains</h6>

                        <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSession['HRAS']) }}">Pymol session(ver 2.3)</a>

                        <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScript['HRAS']) }}">Pymol script</a>

                      </div>
                    </div>
                  </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr class="my-4" style="padding:0;">
                      <div class="table-responsive">
                        <table class="table table-striped table-hover sortable dark-text" style="word-wrap: break-word;">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">PDB</th>
                              <th scope="col">Protein Name</th>
                              <th scope="col">Bound Protein</th>
                              <th scope="col">Mutation Status</th>
                              <th scope="col">Nucleotide Class</th>
                              <th scope="col">Drug Class</th>
                              <th scope="col">Bound Protein Class</th>
                              <th scope="col">Homodimer Status</th>
                              <th scope="col">Switch1 Cluster</th>
                              <th scope="col">Switch2 Cluster</th>
                              <th scope="col">Conformational State</th>
                              </tr>
                          </thead>
                          {% for item in retrieve_str['HRAS'] %}

                          <tr>
                            <td><a href="{{ url_for('uniqueQuery', settings='PDB', queryname=item.pdb) }}" target="_blank">{{ item.pdb }}</a></td>
                            <td>{{ item.protein_name }}</td>
                            <td>{{ item.bound_protein }}</td>
                            {% if ',' in item.mutation_status %}
                            <td>
                              {% for mutations in item.mutation_status.split(',') %}
                              <a href="{{ url_for('uniqueQuery', queryname=mutations, settings='mutation') }}" target="_blank">{{ mutations }} </a>
                              {% endfor %}
                            </td>
                            {% else %}
                            <td>
                              <a href="{{ url_for('uniqueQuery', queryname=item.mutation_status, settings='mutation') }}" target="_blank">{{ item.mutation_status }} </a>
                            </td>
                            {% endif %}
                            <td>{{ item.nucleotide_class }}</td>
                            <td><a href="{{ url_for('uniqueQuery', queryname=item.drug_class, settings='drug_class') }}" target="_blank">{{ item.drug_class }}</td>
                            <td><a href="{{ url_for('uniqueQuery', settings='bound_protein_class', queryname=item.bound_protein_class) }}" target="_blank">{{ item.bound_protein_class }}</a></td>
                            <td>{{ item.homodimer_status }}</td>
                            <td>{{ item.switch1_cluster }}</td>
                            <td>{{ item.switch2_cluster }}</td>
                            <td><a href="{{ url_for('uniqueQuery', settings='conformation',queryname=item.conformational_state) }}" target="_blank">{{ item.conformational_state }}</a></td>
                          </tr>

                          {% endfor %}
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="NRAS" role="tabpanel"  aria-labelledby="NRAS-tab">

                    <div class="card  border-light bg-light mb-3 very-dark-text">
                      <div class="card-header light-pink-background"><h4>{{ queryname }}</h4></div>
                        <div class="card-body">
                          <h6 class="card-text">Total number of entries: {{ entry_count['NRAS'] }}</h6>
                          <h6 class="card-text">Total number of chains: {{ chain_count['NRAS'] }}</h6>

                          <div class="table-responsive">
                          <table class="table very-dark-text sortable">
                          <thead class="">
                            <tr>
                              <th scope="col" style='text-align:right;'>Nucleotide Class</th>
                              <th scope="col" style='text-align:right;'>Drug Class</th>
                              <th scope="col" style='text-align:right;'>Bound Protein</th>
                            </tr>
                          </thead>
                          <tr>
                          </tr>
                          </table>
                        </div>
                      </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                      <hr class="my-4" style="padding:0;">
                      <a role="button" class="btn button-primary light-text" style="margin:5px;" href="{{ url_for('static', filename=tsvFile['NRAS']) }}" target="_blank">Download as tsv</a>

                      <div class="btn-group" style="margin:5px;">
                        <button type="button" class="btn button-primary dropdown-toggle light-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Download in Pymol
                        </button>
                        <div class="dropdown-menu">
                          <h6 class="dropdown-header very-dark-text">Representatives from each gene</h6>
                          <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSessionRe['NRAS']) }}">Pymol session(ver 2.3)</a>
                          <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScriptRe['NRAS']) }}">Pymol script</a>
                          <h6 class="dropdown-header very-dark-text">All chains</h6>

                          <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolSession['NRAS']) }}">Pymol session(ver 2.3)</a>

                          <a class="dropdown-item" style='color: #0683bf;' href="{{ url_for('static',filename=pymolScript['NRAS']) }}">Pymol script</a>

                        </div>
                      </div>
                    </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <hr class="my-4" style="padding:0;">
                        <div class="table-responsive">
                          <table class="table table-striped table-hover sortable dark-text" style="word-wrap: break-word;">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">PDB</th>
                                <th scope="col">Protein Name</th>
                                <th scope="col">Bound Protein</th>
                                <th scope="col">Mutation Status</th>
                                <th scope="col">Nucleotide Class</th>
                                <th scope="col">Drug Class</th>
                                <th scope="col">Bound Protein Class</th>
                                <th scope="col">Homodimer Status</th>
                                <th scope="col">Switch1 Cluster</th>
                                <th scope="col">Switch2 Cluster</th>
                                <th scope="col">Conformational State</th>
                                </tr>
                            </thead>
                            {% for item in retrieve_str['NRAS'] %}

                            <tr>
                              <td><a href="{{ url_for('uniqueQuery', settings='PDB', queryname=item.pdb) }}" target="_blank">{{ item.pdb }}</a></td>
                              <td>{{ item.protein_name }}</td>
                              <td>{{ item.bound_protein }}</td>
                              {% if ',' in item.mutation_status %}
                              <td>
                                {% for mutations in item.mutation_status.split(',') %}
                                <a href="{{ url_for('uniqueQuery', queryname=mutations, settings='mutation') }}" target="_blank">{{ mutations }} </a>
                                {% endfor %}
                              </td>
                              {% else %}
                              <td>
                                <a href="{{ url_for('uniqueQuery', queryname=item.mutation_status, settings='mutation') }}" target="_blank">{{ item.mutation_status }} </a>
                              </td>
                              {% endif %}
                              <td>{{ item.nucleotide_class }}</td>
                              <td><a href="{{ url_for('uniqueQuery', queryname=item.drug_class, settings='drug_class') }}" target="_blank">{{ item.drug_class }}</td>
                              <td><a href="{{ url_for('uniqueQuery', settings='bound_protein_class', queryname=item.bound_protein_class) }}" target="_blank">{{ item.bound_protein_class }}</a></td>
                              <td>{{ item.homodimer_status }}</td>
                              <td>{{ item.switch1_cluster }}</td>
                              <td>{{ item.switch2_cluster }}</td>
                              <td><a href="{{ url_for('uniqueQuery', settings='conformation',queryname=item.conformational_state) }}" target="_blank">{{ item.conformational_state }}</a></td>
                            </tr>

                            {% endfor %}
                          </table>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </div>



    {% endblock %}
  </body>
</html>
