<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PDB</title>
    {% extends 'base.html' %}
  </head>
  {% block content %}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card  border-light mb-3  very-dark-text">
                  <div class="card-header dark-background-trans"><h4 style="color:white;"><a style="color:white;" href="https://www.rcsb.org/structure/{{ queryname.lower() }}" target="_blank">{{ queryname }}</a></h4></div>
                    <div class="card-body light-grey-background">
                        <h5 class="card-title">Protein Name:</h5>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                    <table class="table  table-striped dark-accent-text">
                        <thead class="thead-light">
                            <tr>
                              <th scope="col" style='text-align:center;'>Mutation Status</th>
                              <th scope="col" style='text-align:center;'>Bound Protein</th>
                              <th scope="col" style='text-align:center;'>Bound Peptide</th>
                              <th scope="col" style='text-align:center;'>Homodimer Status</th>
                              <th scope="col" style='text-align:center;'>Experiment Type</th>
                              <th scope="col" style='text-align:center;'>Resolution</th>
                              <th scope="col" style='text-align:center;'>R-factor</th>
                              <th scope="col" style='text-align:center;'>Crystal Form</th>
                              <th scope="col" style='text-align:center;'>Residue Range</th>
                              <th scope="col" style='text-align:center;'>PMID</th>
                            </tr>
                          </thead>

                          <tr>
                            <td style='text-align:center;'></td>
                            <td style='text-align:center;'></td>
                            <td style='text-align:center;'></td>
                            <td style='text-align:center;'></td>
                            <td style='text-align:center;'></td>
                            <td style='text-align:center;'></td>
                            <td style='text-align:center;'></td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </div>

              <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                <hr class="my-4 light-grey-background">
                  <a role="button" class="btn button-primary light-text" style="margin:5px;" href="{{ url_for('static',filename=tsvFile) }}">Database table as tsv</a>
                  <br><br>
              </div>

        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
          <table class="table table-responsive table-striped table-hover sortable dark-text">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style='text-align:left;'>Chain</th>
                        <th scope="col" style='text-align:left;'>Bound Nucleotide</th>
                        <th scope="col" style='text-align:left;'>Bound Nucleotide Class</th>
                        <th scope="col" style='text-align:left;'>Bound Drug</th>
                        <th scope="col" style='text-align:left;'>Bound Drug Class</th>
                        <th scope="col" style='text-align:left;'>Switch 1 Cluster</th>
                        <th scope="col" style='text-align:left;'>Switch 2 Cluster</th>
                        <th scope="col" style='text-align:left;'>Conformational State</th>
                      </tr>
                    </thead>
                      {% for item in pdb_list %}
                      <tr style="line-height:20px;">
                        <td style='text-align:left;'>{{ item.pdb }}</td>
                        <td style='text-align:left;'></td>
                        <td style='text-align:left;'>{{ item.nucleotide_class }}</td>
                        <td style='text-align:left;'></td>
                        <td style='text-align:left;'>{{ item.drug_class }}</a></td>
                        <td style='text-align:left;'>{{ item.switch1_cluster }}</td>
                        <td style='text-align:left;'>{{ item.switch2_cluster }}</td>
                        <td style='text-align:left;'>{{ item.conformational_state }}</td>
                        </tr>
                    {% endfor %}
        </table>
      </div>
    </div>
  </div>



  </body>
  {% endblock %}
</html>
