<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}

<br>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <h3 class="very-dark-text">Search the database by</h3>
          <br>

          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" id="PDB-tab" href="#PDB" aria-controls="PDB" aria-selected="true"><h4>PDB</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="Conformation-tab" href="#Conformation" role="tab" aria-controls="Conformation" aria-selected="false"><h4>RAS Conformation</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="Mutation-tab" href="#Mutation" role="tab" aria-controls="Mutation" aria-selected="false"><h4>Mutation</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="Drug-class-tab" href="#Drug-class" role="tab" aria-controls="Drug-class" aria-selected="false"><h4>Drug Class</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" id="Bound-protein-class-tab" href="#Bound-protein-class" role="tab" aria-controls="Bound-protein-class" aria-selected="false"><h4>Bound Protein Class</h4></a>
            </li>
          </ul>
          <br>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="PDB" role="tabpanel"  aria-labelledby="PDB-tab">

              <form action="/formSearchPDB" method="POST">
                <div class="form-group very-dark-text">

                <select class="selectpicker" data-live-search="true" data-width="100%" name="pdb_select">
                    {% for item in pdbListDb %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
              </div>

                <button type="submit" class="btn button-primary" style="color:white;">Search</button>
              </form>
              </div>


            <div class="tab-pane" id="Conformation" role="tabpanel"  aria-labelledby="Conformation-tab">
              <form action="/formSearchConf" method="POST">
                <div class="form-group very-dark-text">

                <select class="selectpicker" data-live-search="true" data-width="100%" name="conf_select">
                    {% for item in conformation_set %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
              </div>

                <button type="submit" class="btn button-primary" style="color:white;">Search</button>
              </form>
          </div>


        <div class="tab-pane" id="Mutation" role="tabpanel"  aria-labelledby="Mutation-tab">
          <form action="/formSearchMut" method="POST">
            <div class="form-group very-dark-text">

            <select class="selectpicker" data-live-search="true" data-width="100%" name="mutation_select">
                {% for item in mutation_set %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
          </div>

            <button type="submit" class="btn button-primary" style="color:white;">Search</button>
          </form>
      </div>


      <div class="tab-pane" id="Drug-class" role="tabpanel"  aria-labelledby="Drug-class-tab">
        <form action="/formSearchDrug" method="POST">
          <div class="form-group very-dark-text">

          <select class="selectpicker" data-live-search="true" data-width="100%" name="drug_class_select">
              {% for item in drug_class_set %}
              <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
          </select>
        </div>

          <button type="submit" class="btn button-primary" style="color:white;">Search</button>
        </form>
    </div>


    <div class="tab-pane" id="Bound-protein-class" role="tabpanel"  aria-labelledby="Bound-protein-class-tab">
      <form action="/formSearchBP" method="POST">
        <div class="form-group very-dark-text">

        <select class="selectpicker" data-live-search="true" data-width="100%" name="bound_protein_class_select">
            {% for item in bound_protein_class_set %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
      </div>

        <button type="submit" class="btn button-primary" style="color:white;">Search</button>
      </form>
      </div>
  </div>

  <hr class="my-4 brand-background">
  </div>
</div>
</div>

{% endblock %}
</body>
</html>
